{% raw %}
<!DOCTYPE html>
<html lang="en" ng-app>
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>EzlyDb -- eazily </title>

        <meta name="description" content="overview &amp; stats">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- basic styles -->

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">

        <!--[if IE 7]>
          <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
        <![endif]-->

        <!-- page specific plugin styles -->

        <!-- fonts -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">

        <!-- ace styles -->

        <link rel="stylesheet" href="/static/css/ace.min.css">
        <link rel="stylesheet" href="/static/css/ace-rtl.min.css">
        <link rel="stylesheet" href="/static/css/ace-skins.min.css">

        <!--[if lte IE 8]>
          <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->

        <script src="/static/js/ace-extra.min.js"></script>

        <script src="http://code.angularjs.org/1.0.8/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.0.8/angular-resource.js"></script>

        <script src="/static/admin.js" ></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
        <style type="text/css"></style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>

    <body style="" >

        
        <div class="navbar navbar-default" id="navbar">
            <script type="text/javascript">
                try {
                    ace.settings.check('navbar', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="/" class="navbar-brand">
                        <i class="icon-cloud"></i>
                        EzlyDb<span class="badge badge-important">alpha</span> administration - reports
                    </a><!-- /.brand -->
                </div><!-- /.navbar-header -->

                <div class="navbar-header pull-left" role="navigation">
                    <ul class="nav ace-nav">

                        <li class="green">
                            <a href="/admin/" >
                                <i class="icon-edit"></i>
                                Forms
                            </a>
                        </li>
                        <li class="purple">
                            <a href="/admin/report2" >
                                <i class="icon-list"></i>
                                Master-detail reports
                            </a>
                        </li>
                    </ul>
                    
                </div>
                <div class="navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <i class="icon-user"></i>
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    User
                                </span>

                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="icon-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#">
                                        <i class="icon-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>



                    </ul><!-- /.ace-nav -->
                </div><!-- /.navbar-header -->
            </div><!-- /.container -->
        </div>

        <div class="main-container" id="main-container" ng-controller="ReportAdminController" >
            <script type="text/javascript">
                try {
                    ace.settings.check('main-container', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <script type="text/javascript">
                        try {
                            ace.settings.check('sidebar', 'fixed')
                        } catch (e) {
                        }
                    </script>


                    <ul class="nav nav-list" ng-controller="ReportListController">
                        <li>
                            <a href="/admin/reports">
                                <i class="icon-plus"></i>
                                <span class="menu-text"> Add new report </span>
                            </a>
                        </li>
                        <li ng-repeat="report in report_list" >
                            <a href="#" ng-click="reportMenuToRoot(report)">
                                <i class="icon-file"></i>
                                {{ report.title }}
                            </a>
                        </li>
                    </ul><!-- /.nav-list -->

                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>

                    <script type="text/javascript">
                        try {
                            ace.settings.check('sidebar', 'collapsed')
                        } catch (e) {
                        }
                    </script>
                </div>

                <div class="main-content">

                    <div class="page-content">
                        <div ng-show="showDashboard" class="row">

                            <div class="page-header">
                                <h1>Dashboard</h1>
                            </div><!-- /.page-header -->

                            <div class="col-xs-12 col-sm-4 col-sm-offset-1 widget-container-span ui-sortable" ng-controller="ReportListController" >
                                <div class="widget-box light-border" style="opacity: 1; z-index: 0;">
                                    <div class="widget-header header-color-blue">
                                        <h5 class="smaller">Reports</h5>
                                    </div>

                                    <div class="widget-body">
                                        <ul class="nav nav-list" >
                                            <li>
                                                <a href="#" ng-click="formMenuClick()">
                                                    <div class="clearfix">
                                                        <span class="pull-left">
                                                            <i class="btn btn-xs no-hover btn-green icon-plus"></i>
                                                            Add new report
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li ng-repeat="report in report_list">
                                                <a href="#" ng-click="reportMenuToRoot(report)">
                                                    <div class="clearfix">
                                                        <span class="pull-left">
                                                            <i class="btn btn-xs no-hover btn-yellow icon-file-alt"></i>
                                                            {{ report.title }}
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>

                                        </ul>


                                    </div>
                                </div>
                            </div>
                            
                            
                            
                        </div>

                        
    <div class="col-xs-12 col-sm-6 col-md-9" ng-show="showReport" >

      <div class="row">
        <form class="form-inline" ng-controller="FormListController" role="form">
          <div class="form-group">
            <label for="base_form" class="control-label">Base form:  </label>
          </div>
          <div class="form-group"></div>
          <div class="form-group" class="col-md-9">
            <select id="base_form" ng-model="current_form" ng-change="formMenuToRoot(form)" ng-options="form.title for form in forms_list" 
            class="form-control" name="baseForm" >
            </select>
        </div>
        <div class="form-group pull-right" >
          <button ng-show="showReport" ng-click="saveReport()" class="btn btn-primary"><i class="icon-save"></i> Save</button>
        </div>
      </form>
      
    </div>

    <div class="row" ng-show="showSuccess">
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" ng-click="showSuccess=false" aria-hidden="true">×</button>
        <strong>Save successfull.</strong>
      </div>
    </div>

    <div ng-show="showReport">


      <div class="row" style="border-style:dashed;border-width:1px;"> <center><h1  ng-click="editTitle=!editTitle" ng-show="!editTitle" >{{ title }}</h1>   

        <form class="form-inline" ng-show="editTitle" role="form">
          <div class="form-group">
            <label class="sr-only" for="report_title">Title:</label>
            <input type="text" ng-model="title"  class="form-control" id="report_title" placeholder="Enter title">
          </div>
          <button ng-click="editTitle=false;"  class="btn btn-default">Done</button>
        </form>

      </center></div>
      
      <div class="row" id="report_data" style="border-style:dashed;border-width:1px; height:'200px'; ">
        <div class="column">
         
          <div style="border-style:solid;border-width:1px; " class="col-sm-2" ng-repeat="field in field_list">
            {{ field.name }} <button type="button" class="close" ng-click="field_list.splice($index, 1)" aria-hidden="true">&times;</button>
          </div>
          
          
        </div>    
        
        
        
      </div>
      <div class="row" style="border-style:dashed;border-width:1px;"> <center> <span ng-click="editFooter=!editFooter" ng-show="!editFooter">{{ report_footer }}</span>

        <form class="form-inline" ng-show="editFooter" role="form">
          <div class="form-group">
            <label class="sr-only" for="report_footer">Footer text:</label>
            <input type="text" ng-model="report_footer"  class="form-control" id="report_footer" placeholder="Enter footer data">
          </div>
          <button ng-click="editFooter=false;"  class="btn btn-default">Done</button>
        </form>


      </center> </div>
      
    </div>



  </div>    
                        
                        
                        
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->

            </div><!-- /.main-container -->

            <!-- basic scripts -->

            <!--[if !IE]> -->

            <script src="/static/js/jquery.min.js"></script>

            <!-- <![endif]-->

            <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

            <!--[if !IE]> -->

            <script type="text/javascript">
                            window.jQuery || document.write("<script src='/static/js/jquery.min.js'>" + "<" + "/script>");
            </script>

            <!-- <![endif]-->

            <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

            <script type="text/javascript">
                if ("ontouchend" in document)
                    document.write("<script src='/static/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
            </script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script src="/static/js/typeahead-bs2.min.js"></script>

            <!-- page specific plugin scripts -->

            <!--[if lte IE 8]>
              <script src="assets/js/excanvas.min.js"></script>
            <![endif]-->

            <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
            <script src="/static/js/jquery.slimscroll.min.js"></script>
            <script src="/static/js/jquery.easy-pie-chart.min.js"></script>
            <script src="/static/js/jquery.sparkline.min.js"></script>
            <script src="/static/js/jquery.flot.min.js"></script>
            <script src="/static/js/jquery.flot.pie.min.js"></script>
            <script src="/static/js/jquery.flot.resize.min.js"></script>

            <!-- ace scripts -->

            <script src="/static/js/ace-elements.min.js"></script>
            <script src="/static/js/ace.min.js"></script>

            <!-- inline scripts related to this page -->

            <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />



          <script>
          $(function() {
            $( ".column" ).sortable({
              connectWith: ".column"
            });
            
            
            $( ".column" ).disableSelection();
          });
          </script>

            <div class="tooltip top in" style="display: none;"><div class="tooltip-inner"></div></div></body></html>


{% endraw %}
