{% raw %}
<div ng-controller="DbFieldController">
<div class="page-header" ng-show="showFieldList">
    
<h1>Form {{ formProps.title }}
  <span class="pull-right" >   
  <button type="button"  ng-click="showFormProperties=!showFormProperties" class="btn btn-default btn-xs">Click to edit form properties</button> 
  </span>
</h1>

    <div class="hr hr-18 dotted hr-double"></div>

 <div ng-show="showFormProperties">
     
    <form role="form" novalidate class="css-form">
    <div class="form-group">
        <input type="text" class="form-control" id="form_id" placeholder="Enter form title" ng-model="formProps.name" required />
        
        <label for="name">Title</label>
        <input type="text" class="form-control" id="form_title" placeholder="Enter form title" ng-model="formProps.title" required />
        <label for="field_type">Form type</label>
        <select class="form-control" id="form_type" ng-model="formProps.form_type">
          <option value="single_record" selected>Single record</option>
          <option value="grid">Grid</option>
        </select>
        <input type="text" readonly class="form-control" id="form_id" placeholder="dont edit, id" ng-model="formProps.id" />


    </div>      

  <button type="button"  ng-click="set_form_properties()" class="btn btn-success btn-s">Done</button> 
    </form>
     
     
</div>

<div>
    <ul class="list-group" >
        <li class="list-group-item" ng-repeat="dbField in master "  >
            {{dbField.name}}    
              <span class="pull-right" >   
              <button type="button" ng-click="dbField.editorEnabled=!dbField.editorEnabled" class="btn btn-info btn-xs">click to edit</button>
              </span>
             <div ng-show="dbField.editorEnabled">
                <div ng-include="'/admin/show_field_form/'" ></div>
            </div>
    
    </ul>

    <div ng-show="showAddFieldButton">        
        <button type="button"  ng-click="showAddField=!showAddField" class="btn btn-success">Add new field</button> 
    </div>

    <div ng-show="showAddField">        
            <div ng-include="'/admin/show_field_form/'" ></div>
    </div>
</div>
     <a href="/admin/buttons/{{formProps.id}}/">Add button for form </a> <span class="badge badge-warning">!</span>
      
    </div>

</div>    
</div>
{% endraw %}
