
<ul class="list-group">
  <li class="list-group-item" ng-repeat="field in data ">
    {% for item in field_data %}
        <span ng-bind="field.{{item.name}}"></span>  
    {% endfor %}
        <span class="pull-right">
        <button type="button" ng-click="field.editorEnabled=!field.editorEnabled" class="btn btn-info btn-xs">edit</button>    
        <button type="button" ng-click="delete_row(field,$index)" class="btn btn-danger btn-xs">delete</button>
        </span>
        
 <div ng-show="field.editorEnabled">
        <form ng-submit="update_row(field)" class="form-horizontal" role="form">
         <input type="text" class="form-control" id="field.id" placeholder="id field" ng-model="field._id.$oid" readonly >   
    {% for form_item in form_data %}
        <div class="form-group">
            {{form_item.label|safe}}
            <div class="col-sm-6">
                {{form_item.field|safe}}
            </div>
        </div>
    {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>    
    </form>
</div>    
      
  </li>
</ul>
<h3>Add new record</h3>
    <form ng-submit="update_row(field)" class="form-horizontal" role="form">
    {% for form_item in form_data %}
        <div class="form-group">
            {{form_item.label|safe}}
            <div class="col-sm-6">
                {{form_item.field|safe}}
            </div>
        </div>
    {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>    
    </form>

