{% raw %}

<h3>Field properties </h3>
  <form role="form" novalidate class="css-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter field name" ng-model="dbField.name" required />

        <label for="field_type">Field type</label>
        <select class="form-control" id="field_type" ng-model="dbField.field_type">
          <option value="text_field">Text</option>
          <option value="int_field">Integer</option>
          <option value="float_field">Float</option>
          <option value="date_field">Date</option>
        </select>
        
        <label for="name">Default value</label>
        <input type="text" class="form-control" id="default_value" placeholder="Enter default value" ng-model="dbField.default_value" required />
        <input type="text" readonly class="form-control" id="form_id" placeholder="dont edit, id" ng-model="dbField._id.$oid" readonly />

        
        <div class="form-row" data-ng-switch on="dbField.field_type">
            <div data-ng-switch-when="text_field">
            Text data: <input type="text"  />
            </div>
            <div data-ng-switch-when="date_field">
                Date format: <input type="text" class="form-control" id="date_format" placeholder="Enter date format" />
            </div>
        </div>
    </div>      
    
    <button type="button" class="btn btn-success" ng-click="set_field_properties(dbField)">Done</button>
  </form>
{% endraw %}
