{% raw %}

  <form class="form-horizontal" name="fieldForm" role="form" ng-submit="set_field_properties(dbField)" novalidate>
      
    <div class="form-group">
        <label class="col-sm-3 control-label" for="name">Name</label>
        <div class="col-sm-6 col-md-4" >
            <input type="text" class="form-control" id="name" placeholder="Enter field name" ng-model="dbField.name" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="field_type">Field type</label>
        <div class="col-sm-6 col-md-2" >
            <select class="form-control" id="field_type" ng-model="dbField.field_type" required>
              <option value="text_field">Text</option>
              <option value="bigtext_field">Lots of text</option>
              <option value="int_field">Integer</option>
              <option value="float_field">Float</option>
              <option value="date_field">Date</option>
              <option value="lookup_field">Lookup</option>
              <option value="calc_field">Calculated field</option>
            </select>
        </div>    
    </div>    
    <div class="form-group">
        <label class="col-sm-3 control-label" for="name">Default value</label>
        <div class="col-sm-4 col-md-3" >
        <input type="text" class="form-control" id="default_value" placeholder="Enter default value" ng-model="dbField.default_value"  />
        </div>    
    </div>    

        
        <div class="form-row" data-ng-switch on="dbField.field_type">
            <div ng-controller="FormListController" data-ng-switch-when="lookup_field">
                <select id="lookup_form" ng-model="current_form" ng-change="getFormFields($index)" ng-options="form.title for form in forms_list" 
                    class="form-control" name="lookup_form" >
                </select>                
                <select id="lookup_field" ng-model="current_field" ng-change="lookupFieldSet(field)" ng-options="field.name for field in field_list" 
                    class="form-control" name="lookup_field" >
                </select>                
            </div>
            
            
            <div data-ng-switch-when="date_field">
                Date format: <input type="text" class="form-control" id="date_format" placeholder="Enter date format" />
            </div>
            <div data-ng-switch-when="calc_field">
                Field to calculate:
                <select id="calc_field" ng-model="dbField.calc_field" ng-options="calc_field._id.$oid as calc_field.name for calc_field in master" 
                    class="form-control" name="lookup_form" >
                </select>                
                
                Formula: <input type="text" ng-model="dbField.calc_formula" class="form-control" id="formula" placeholder="Enter formula, example =+1" />
            </div>
            
        </div>
        
    
    <button type="button" class="btn btn-success" ng-disabled="fieldForm.$invalid" ng-click="set_field_properties(dbField)" >Done</button>
  </form>
{% endraw %}
