{% raw %}
<html ng-app>
<head>
<title>EasyDb</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

<script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
<script src="http://code.angularjs.org/1.1.5/angular-resource.js"></script>
    
<script src="/static/ang.js" ></script>
    
</head>

<body>
<div class="container">        
<div ng-controller="SingleFormController">
<h3>{{ form_name }}</h3>
    

    <div data-ng-include data-src="'/show_list/{{form_name}}'"></div>
    <p>

    <div class="well" data-ng-include data-src="'/show_form/{{form_name}}'"></div>
    
     <pre>data = {{data | json}}</pre>      
      <pre>formProps = {{formProps | json}}</pre>      
    
    
</div>

  
  
</div>  
  
</body>  
  

</html>
{% endraw %}
