<div ng-controller="MasterDetailReportController" ng-init='report_data={{ report_js|safe }}'>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <script src="http://code.angularjs.org/1.0.8/angular.min.js"></script>
  <script src="/static/ang.js" ></script>



<style>
  .draggable { width: 90px; height: 40px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em;  }
  .ui-widget-header p, .ui-widget-content p { margin: 0; }
  .field_item {border-style:solid;border-width:1px;}
  #snaptarget { height: 200px;width: 800px; background: #FFF;margin-left:40px }
  #selectable .ui-selected { background: #F39814; color: white; }
  </style>
  <script>
  report_js={{ report_js|safe }};
  report_detail_js={{ report_detail_js|safe }};
      
  $(function() {
  });
  </script>


<div>Report title</div>


<div ng-repeat="field in report_data">
<div id="snaptarget" style="border-style:solid;border-width:0px;" >
    

    {% for field in report_fields %}
    <div id="draggable" class="draggable"  ng-style="{position:'relative',  left:'{{field.left}}px',top:'{{field.top}}px' }" >
      {% if field.type=="field"  %}  
        {% if field.field_type=="lookup_field" %}
            <p ng-bind="getLookupData(field.{{ field.field_id }})"></p>
        {% else %}
            <p ng-bind="field.{{ field.field_id }}"></p>
        {% endif %}
      {% else %}
      <p > {{ field.name }} </p>
      {% endif %}
    </div>
    {% endfor %}

</div>
<table class="table table-striped">
    <thead>
    <tr>
    {% for detail_head in detail_report_fields %}
        <th>{{ detail_head.name }} </th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="detail in field.detail">
        {% for row in detail_report_fields %}
            {% if row.field_type=="lookup_field" %}
                <td ng-bind="getLookupData(detail.{{ row.field_id }})">  </td> 
            {% else %}
                <td ng-bind="detail.{{ row.field_id }}">  </td> 
            {% endif %}

        {% endfor %}
        </tr>
    </tbody>
</table>

</div>
 
<br style="clear:both">

 
</div>
