<html ng-app>
<head>

<title>EasyDb</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <script src="http://code.angularjs.org/1.0.8/angular.min.js"></script>
  <script src="/static/ang.js" ></script>


<style>
  .draggable { width: 90px; height: 40px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em;  }
  .ui-widget-header p, .ui-widget-content p { margin: 0; }
  .field_item {border-style:solid;border-width:1px;}
  #snaptarget { height: 480px;width: 800px; background: #FFF;margin-left:40px }
  #selectable .ui-selected { background: #F39814; color: white; }
  </style>
  <script>
  report_js={{ report_js|safe }}    
  $(function() {
    
  });
  </script>
  
</head>
<body ng-controller="SingleReportController">

<div>This is report</div>
<div id="snaptarget" style="border-style:solid;border-width:1px;" ng-repeat="field in report_data">
    {% for field in report_fields %}
    <div id="draggable" class="draggable "  ng-style="{position:'relative',  left:'{{field.left}}px',top:'{{field.top}}px' }" >
      {% if field.type=="field"  %}  
      <p ng-bind="field.{{ field.field_id }}"></p>
      {% else %}
      <p > {{ field.name }} </p>
      {% endif %}
    </div>
    {% endfor %}

</div>
 
<br style="clear:both">
<div>
<input ng-model="new_field_name">
<button ng-click="addItem()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add item</button>  
<input ng-model="report_name">
<button ng-click="saveReport()" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save report</button>  
</div>
 
</body>
</html>
